In [1]:
import pandas as pd

In [2]:
path = r'C:\Users\ferre\OneDrive\Área de Trabalho\new projects\data\raw_unzip\inf_diario_fi_202501\inf_diario_fi_202501.csv'

In [3]:
df = pd.read_csv(path, sep=';')

C:\Users\ferre\AppData\Local\Temp\ipykernel_5500\2775056315.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep=';')

In [4]:
df.columns

Index(['TP_FUNDO_CLASSE', 'CNPJ_FUNDO_CLASSE', 'ID_SUBCLASSE', 'DT_COMPTC',
       'VL_TOTAL', 'VL_QUOTA', 'VL_PATRIM_LIQ', 'CAPTC_DIA', 'RESG_DIA',
       'NR_COTST'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560683 entries, 0 to 560682
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TP_FUNDO_CLASSE    560683 non-null  object
 1   CNPJ_FUNDO_CLASSE  560683 non-null  object
 2   ID_SUBCLASSE       791 non-null     object
 3   DT_COMPTC          560683 non-null  object
 4   VL_TOTAL           560683 non-null  float64
 5   VL_QUOTA           560683 non-null  float64
 6   VL_PATRIM_LIQ      560683 non-null  float64
 7   CAPTC_DIA          560683 non-null  float64
 8   RESG_DIA           560683 non-null  float64
 9   NR_COTST           560683 non-null  int64
dtypes: float64(5), int64(1), object(4)
memory usage: 42.8+ MB

In [6]:
df.head()

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,NaN,2025-01-02,1154771.86,37.228814,1151690.99,0.0,0.00,1
1,FI,00.017.024/0001-53,NaN,2025-01-03,1155366.09,37.247108,1152256.93,0.0,0.00,1
2,FI,00.017.024/0001-53,NaN,2025-01-06,1156032.89,37.263748,1152771.70,0.0,0.00,1
3,FI,00.017.024/0001-53,NaN,2025-01-07,1156632.81,37.282736,1153359.09,0.0,0.00,1
4,FI,00.017.024/0001-53,NaN,2025-01-08,1157164.63,37.298684,1150313.12,0.0,3539.35,1

In [7]:
object_col = df.select_dtypes(include='object')

In [8]:
df

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,NaN,2025-01-02,1154771.86,37.228814,1151690.99,0.0,0.00,1
1,FI,00.017.024/0001-53,NaN,2025-01-03,1155366.09,37.247108,1152256.93,0.0,0.00,1
2,FI,00.017.024/0001-53,NaN,2025-01-06,1156032.89,37.263748,1152771.70,0.0,0.00,1
3,FI,00.017.024/0001-53,NaN,2025-01-07,1156632.81,37.282736,1153359.09,0.0,0.00,1
4,FI,00.017.024/0001-53,NaN,2025-01-08,1157164.63,37.298684,1150313.12,0.0,3539.35,1
...,...,...,...,...,...,...,...,...,...,...
560678,CLASSES - FIF,97.929.213/0001-34,NaN,2025-01-27,88817607.42,12.488414,88863649.70,0.0,0.00,7
560679,CLASSES - FIF,97.929.213/0001-34,NaN,2025-01-28,88924975.09,12.496045,88917952.22,0.0,0.00,7
560680,CLASSES - FIF,97.929.213/0001-34,NaN,2025-01-29,88924120.77,12.495850,88916564.76,0.0,0.00,7
560681,CLASSES - FIF,97.929.213/0001-34,NaN,2025-01-30,89241322.90,12.540353,89233233.77,0.0,0.00,7
560682,CLASSES - FIF,97.929.213/0001-34,NaN,2025-01-31,89266882.50,12.543870,89258258.70,0.0,0.00,7

In [9]:
df['ID_SUBCLASSE'].value_counts()

ID_SUBCLASSE
Z2HFZ1734468953    22
XWASH1734469385    22
3EESF1734469682    22
O0WAI1735307370    22
MGYUX1735307004    22
MP4BG1731078734    22
7NBTA1734640051    22
ONOHE1731087555    22
P7DV31731087455    22
SG3VT1727814030    22
Q4KJI1733168090    22
CZRMP1733168573    22
44DUU1734716675    22
PL5IY1734622972    22
CGGIN1734624395    22
LD3TR1735323438    22
YINV01735930535    22
U1HOC1729862067    22
KUZSC1727788883    22
EX0WV1729190481    22
VDSDZ1733951033    22
6ENUX1731526488    22
T8NP31731960931    22
EHI1F1729189384    22
0AYDG1734640049    22
LLRRI1731961199    22
Q7JIB1734621595    22
MQEU91732912245    22
7NH9B1732912130    22
IK1M41733173884    21
BUSOC1735323552    20
EFCEE1735322459    20
IHNVR1735305061    15
CKDFV1732313120    10
JBHTP1736460887    10
RRRLG1737140378    10
GS8XU1735326781     8
I8WK01736197184     7
NUEMM1739283559     6
MYGI71739283677     6
SDQY01736978340     6
VHQOI1736978054     6
T4FUH1737645283     4
HDX4T1738087402     3
MEVBL1733935279     1
Name: count, dtype: int64

In [10]:
df.columns

Index(['TP_FUNDO_CLASSE', 'CNPJ_FUNDO_CLASSE', 'ID_SUBCLASSE', 'DT_COMPTC',
       'VL_TOTAL', 'VL_QUOTA', 'VL_PATRIM_LIQ', 'CAPTC_DIA', 'RESG_DIA',
       'NR_COTST'],
      dtype='object')

In [11]:
df.describe()

,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
count,5.606830e+05,5.606830e+05,5.606830e+05,5.606830e+05,5.606830e+05,560683.000000
mean,1.088816e+09,1.396882e+04,4.621978e+08,2.711856e+06,2.664576e+06,1030.448071
std,4.679679e+11,7.129251e+05,3.338727e+09,5.956704e+07,5.189470e+07,15436.360888
min,-2.473641e+09,-4.224946e+05,-6.789011e+09,0.000000e+00,0.000000e+00,0.000000
25%,1.495319e+07,1.210115e+00,1.493446e+07,0.000000e+00,0.000000e+00,1.000000
50%,4.241470e+07,2.055773e+00,4.244653e+07,0.000000e+00,0.000000e+00,2.000000
75%,1.516614e+08,2.376783e+01,1.517166e+08,0.000000e+00,0.000000e+00,16.000000
max,3.504001e+14,8.906870e+07,2.121432e+11,1.223337e+10,1.226330e+10,899230.000000