In [5]:
import pandas as pd

In [6]:
path = r'C:\Users\ferre\OneDrive\√Årea de Trabalho\new projects\data\raw_unzip\inf_diario_fi_202501\inf_diario_fi_202501.csv'

In [10]:
df = pd.read_csv(path, sep=';')

C:\Users\ferre\AppData\Local\Temp\ipykernel_24208\2775056315.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep=';')

In [ ]:
rename_dict = {
    
}

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560683 entries, 0 to 560682
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TP_FUNDO_CLASSE    560683 non-null  object
 1   CNPJ_FUNDO_CLASSE  560683 non-null  object
 2   ID_SUBCLASSE       791 non-null     object
 3   DT_COMPTC          560683 non-null  object
 4   VL_TOTAL           560683 non-null  float64
 5   VL_QUOTA           560683 non-null  float64
 6   VL_PATRIM_LIQ      560683 non-null  float64
 7   CAPTC_DIA          560683 non-null  float64
 8   RESG_DIA           560683 non-null  float64
 9   NR_COTST           560683 non-null  int64
dtypes: float64(5), int64(1), object(4)
memory usage: 42.8+ MB

In [18]:
df.head()

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,NaN,2025-01-02,1154771.86,37.228814,1151690.99,0.0,0.00,1
1,FI,00.017.024/0001-53,NaN,2025-01-03,1155366.09,37.247108,1152256.93,0.0,0.00,1
2,FI,00.017.024/0001-53,NaN,2025-01-06,1156032.89,37.263748,1152771.70,0.0,0.00,1
3,FI,00.017.024/0001-53,NaN,2025-01-07,1156632.81,37.282736,1153359.09,0.0,0.00,1
4,FI,00.017.024/0001-53,NaN,2025-01-08,1157164.63,37.298684,1150313.12,0.0,3539.35,1

In [15]:
object_col = df.select_dtypes(include='object')

In [ ]:
df

TP_FUNDO_CLASSE
FI               354523
CLASSES - FIF    205874
FAPI                286
Name: count, dtype: int64
CNPJ_FUNDO_CLASSE
55.372.147/0001-02    66
53.154.459/0001-06    66
16.565.084/0001-40    66
58.142.113/0001-01    44
23.318.245/0001-67    44
                      ..
53.908.421/0001-81     1
58.666.203/0001-00     1
59.092.416/0001-20     1
59.142.878/0001-04     1
59.159.502/0001-02     1
Name: count, Length: 25695, dtype: int64
ID_SUBCLASSE
Z2HFZ1734468953    22
XWASH1734469385    22
3EESF1734469682    22
O0WAI1735307370    22
MGYUX1735307004    22
MP4BG1731078734    22
7NBTA1734640051    22
ONOHE1731087555    22
P7DV31731087455    22
SG3VT1727814030    22
Q4KJI1733168090    22
CZRMP1733168573    22
44DUU1734716675    22
PL5IY1734622972    22
CGGIN1734624395    22
LD3TR1735323438    22
YINV01735930535    22
U1HOC1729862067    22
KUZSC1727788883    22
EX0WV1729190481    22
VDSDZ1733951033    22
6ENUX1731526488    22
T8NP31731960931    22
EHI1F1729189384    22
0AYDG1734640049    22
LLRRI1731961199    22
Q7JIB1734621595    22
MQEU91732912245    22
7NH9B1732912130    22
IK1M41733173884    21
BUSOC1735323552    20
EFCEE1735322459    20
IHNVR1735305061    15
CKDFV1732313120    10
JBHTP1736460887    10
RRRLG1737140378    10
GS8XU1735326781     8
I8WK01736197184     7
NUEMM1739283559     6
MYGI71739283677     6
SDQY01736978340     6
VHQOI1736978054     6
T4FUH1737645283     4
HDX4T1738087402     3
MEVBL1733935279     1
Name: count, dtype: int64
DT_COMPTC
2025-01-20    25601
2025-01-17    25509
2025-01-07    25502
2025-01-24    25501
2025-01-31    25501
2025-01-06    25499
2025-01-08    25496
2025-01-09    25496
2025-01-13    25494
2025-01-10    25493
2025-01-16    25488
2025-01-14    25486
2025-01-02    25486
2025-01-15    25480
2025-01-03    25475
2025-01-27    25464
2025-01-23    25460
2025-01-22    25451
2025-01-28    25449
2025-01-21    25448
2025-01-29    25444
2025-01-30    25443
2025-01-01       17
Name: count, dtype: int64

In [19]:
df['ID_SUBCLASSE'].value_counts()

ID_SUBCLASSE
Z2HFZ1734468953    22
XWASH1734469385    22
3EESF1734469682    22
O0WAI1735307370    22
MGYUX1735307004    22
MP4BG1731078734    22
7NBTA1734640051    22
ONOHE1731087555    22
P7DV31731087455    22
SG3VT1727814030    22
Q4KJI1733168090    22
CZRMP1733168573    22
44DUU1734716675    22
PL5IY1734622972    22
CGGIN1734624395    22
LD3TR1735323438    22
YINV01735930535    22
U1HOC1729862067    22
KUZSC1727788883    22
EX0WV1729190481    22
VDSDZ1733951033    22
6ENUX1731526488    22
T8NP31731960931    22
EHI1F1729189384    22
0AYDG1734640049    22
LLRRI1731961199    22
Q7JIB1734621595    22
MQEU91732912245    22
7NH9B1732912130    22
IK1M41733173884    21
BUSOC1735323552    20
EFCEE1735322459    20
IHNVR1735305061    15
CKDFV1732313120    10
JBHTP1736460887    10
RRRLG1737140378    10
GS8XU1735326781     8
I8WK01736197184     7
NUEMM1739283559     6
MYGI71739283677     6
SDQY01736978340     6
VHQOI1736978054     6
T4FUH1737645283     4
HDX4T1738087402     3
MEVBL1733935279     1
Name: count, dtype: int64