In [70]:
import pandas as pd

In [71]:
path  = r'..\data\interim\interim.parquet'

In [72]:
df = pd.read_parquet(path)

In [73]:
df.columns[0]

'fund_cnpj'

In [74]:
df.dtypes

fund_cnpj                    object
report_date          datetime64[ns]
total_value                 float64
quota_value                 float64
net_asset_value             float64
daily_inflow                float64
daily_redemptions           float64
num_shareholders            float64
dtype: object

In [75]:
df.dropna()

,fund_cnpj,report_date,total_value,quota_value,net_asset_value,daily_inflow,daily_redemptions,num_shareholders
1000,00.017.024/0001-53,2025-01-02,1154771.86,37.228814,1151690.99,0.0,0.00,1.0
1001,00.017.024/0001-53,2025-01-03,1155366.09,37.247108,1152256.93,0.0,0.00,1.0
1002,00.017.024/0001-53,2025-01-06,1156032.89,37.263748,1152771.70,0.0,0.00,1.0
1003,00.017.024/0001-53,2025-01-07,1156632.81,37.282736,1153359.09,0.0,0.00,1.0
1004,00.017.024/0001-53,2025-01-08,1157164.63,37.298684,1150313.12,0.0,3539.35,1.0
...,...,...,...,...,...,...,...,...
6203603,97.929.213/0001-34,2025-12-11,62984373.10,14.142879,62976689.12,0.0,0.00,7.0
6203604,97.929.213/0001-34,2025-12-12,62939875.19,14.130762,62922733.50,0.0,0.00,7.0
6203605,97.929.213/0001-34,2025-12-15,62957903.60,14.134808,62940752.75,0.0,0.00,7.0
6203606,97.929.213/0001-34,2025-12-16,62815617.54,14.102563,62797169.63,0.0,0.00,7.0
6203607,97.929.213/0001-34,2025-12-17,62771412.39,14.092346,62751670.15,0.0,0.00,7.0