In [1]:
import pandas as pd

In [2]:
path  = r'..\data\processed\cleaned.parquet'

In [3]:
df = pd.read_parquet(path)

In [4]:
df = df.sort_values('report_date').reset_index(drop=True)

In [5]:
df.head(), df.shape

(            fund_cnpj report_date  total_value  quota_value  net_asset_value  \
 0  11.349.528/0001-97  2025-01-01          0.0          0.0              0.0
 1  58.151.414/0001-00  2025-01-01          0.0          0.0              0.0
 2  41.867.393/0001-12  2025-01-01          0.0          0.0              0.0
 3  41.867.432/0001-81  2025-01-01          0.0          0.0              0.0
 4  56.159.435/0001-38  2025-01-01          0.0          0.0              0.0

    daily_inflow  daily_redemptions  num_shareholders
 0           0.0                0.0               0.0
 1           0.0                0.0               0.0
 2           0.0                0.0               0.0
 3           0.0                0.0               0.0
 4           0.0                0.0               0.0  ,
 (6177449, 8))

In [6]:
groupy_by_cnpj = df.groupby('fund_cnpj')

In [7]:
df['return'] = groupy_by_cnpj['quota_value'].pct_change()
df['total_value_by_net_asset_value'] = df['total_value'] / df['net_asset_value']

In [8]:
len(df['fund_cnpj'].unique())

28420

In [10]:
df.describe()

c:\Users\ferre\OneDrive\Área de Trabalho\new projects\.venv\lib\site-packages\numpy\_core\_methods.py:52: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
c:\Users\ferre\OneDrive\Área de Trabalho\new projects\.venv\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,report_date,total_value,quota_value,net_asset_value,daily_inflow,daily_redemptions,num_shareholders,return,total_value_by_net_asset_value
count,6177449,6.177448e+06,6.177449e+06,6.177449e+06,6.177449e+06,6.177449e+06,6.177449e+06,6.121451e+06,6.142912e+06
mean,2025-06-27 15:17:10.100354816,6.736085e+08,7.718151e+04,4.990715e+08,2.888897e+06,2.916802e+06,1.033531e+03,NaN,inf
min,2025-01-01 00:00:00,-1.111061e+12,-2.165812e+07,-1.111061e+12,0.000000e+00,0.000000e+00,0.000000e+00,-inf,-1.475783e+08
25%,2025-03-31 00:00:00,1.562597e+07,1.264151e+00,1.564582e+07,0.000000e+00,0.000000e+00,1.000000e+00,-3.329413e-04,9.997805e-01
50%,2025-06-30 00:00:00,4.434844e+07,2.128149e+00,4.445058e+07,0.000000e+00,0.000000e+00,2.000000e+00,5.145003e-04,1.000117e+00
75%,2025-09-24 00:00:00,1.591764e+08,2.375991e+01,1.592392e+08,0.000000e+00,0.000000e+00,1.500000e+01,1.385430e-03,1.000821e+00
max,2025-12-22 00:00:00,4.441303e+14,1.231903e+11,1.668177e+13,2.295592e+10,2.295592e+10,8.992300e+05,inf,inf
std,NaN,2.463712e+11,7.426210e+07,1.236897e+10,6.076863e+07,5.851541e+07,1.512013e+04,NaN,NaN

In [16]:
bad_cnpjs = df.loc[df["num_shareholders"] < 15, "fund_cnpj"].unique()
filtered_df = df[~df["fund_cnpj"].isin(bad_cnpjs)]

In [18]:
filtered_df['fund_cnpj'].unique().shape

(5726,)