In [1]:
import pandas as pd

In [2]:
path  = r'..\data\processed\cleaned.parquet'

In [3]:
df = pd.read_parquet(path)

In [4]:
df.columns

Index(['fund_cnpj', 'report_date', 'total_value', 'quota_value',
       'net_asset_value', 'daily_inflow', 'daily_redemptions',
       'num_shareholders'],
      dtype='object')

In [5]:
df = df.sort_values('report_date').reset_index(drop=True)

In [6]:
df.head(), df.shape

(            fund_cnpj report_date   total_value  quota_value  net_asset_value  \
 0  00.068.305/0001-35  2025-01-02  3.807114e+07    38.725315     3.806176e+07
 1  42.776.707/0001-34  2025-01-02  2.393748e+07     1.351702     2.406793e+07
 2  42.774.769/0001-07  2025-01-02  9.074660e+08     1.124264     9.085936e+08
 3  09.087.301/0001-79  2025-01-02  1.404225e+08     4.053659     1.404109e+08
 4  42.774.627/0001-40  2025-01-02  1.328108e+09     1.428844     1.325868e+09

    daily_inflow  daily_redemptions  num_shareholders
 0          0.00             141.07            5813.0
 1       7424.84          114907.07            3001.0
 2    8080779.52               0.00              86.0
 3       3000.00               0.00             113.0
 4    2694341.52         1636211.82           24039.0  ,
 (1562619, 8))

In [7]:
groupy_by_cnpj = df.groupby('fund_cnpj')

In [8]:
df['return'] = groupy_by_cnpj['quota_value'].pct_change()
df['total_value_by_net_asset_value'] = df['total_value'] / df['net_asset_value']

In [9]:
len(df['fund_cnpj'].unique())

7875

In [16]:
df[df['total_value'] < 0].sort_values('fund_cnpj')

,fund_cnpj,report_date,total_value,quota_value,net_asset_value,daily_inflow,daily_redemptions,num_shareholders,return,total_value_by_net_asset_value
878192,19.391.026/0001-36,2025-08-01,-14559796.26,-0.324561,-24405465.16,0.0,0.0,25.0,-2.621186,0.596579
897770,26.587.503/0001-07,2025-08-06,-267624.42,2.092986,2764644.77,0.0,0.0,69.0,0.009744,-0.096802
889721,26.587.503/0001-07,2025-08-05,-331013.51,2.072788,2737965.88,0.0,0.0,69.0,0.001411,-0.120898
2746,32.222.977/0001-40,2025-01-02,-7910862.73,-273.353853,-7918155.87,0.0,0.0,16.0,NaN,0.999079
952228,32.222.977/0001-40,2025-08-18,-7844209.22,-269.927105,-7818894.35,0.0,0.0,16.0,0.000335,1.003238
...,...,...,...,...,...,...,...,...,...,...
1482807,62.948.191/0001-75,2025-12-05,-89768.18,-18.527463,-185274.63,0.0,0.0,1.0,0.023042,0.484514
1480086,62.948.191/0001-75,2025-12-04,-87936.16,-18.110170,-181101.70,0.0,0.0,1.0,0.023585,0.485562
1471892,62.948.191/0001-75,2025-12-03,-86104.14,-17.692877,-176928.77,0.0,0.0,0.0,0.049506,0.486660
1453410,62.948.191/0001-75,2025-12-01,-82440.10,-16.858291,-168582.91,0.0,0.0,1.0,-3.091599,0.489018
1324662,62.948.191/0001-75,2025-11-04,-9153.12,-2.748661,-27486.61,0.0,0.0,1.0,-6.194042,0.333003

In [11]:
df.describe()

c:\Users\ferre\OneDrive\Área de Trabalho\new projects\.venv\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
c:\Users\ferre\OneDrive\Área de Trabalho\new projects\.venv\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,report_date,total_value,quota_value,net_asset_value,daily_inflow,daily_redemptions,num_shareholders,return,total_value_by_net_asset_value
count,1562619,1.562619e+06,1.562619e+06,1.562619e+06,1.562619e+06,1.562619e+06,1.562619e+06,1.552931e+06,1.560311e+06
mean,2025-07-05 04:30:47.989817344,8.403766e+08,4.428128e+04,8.389715e+08,7.400583e+06,7.396376e+06,3.998382e+03,inf,inf
min,2025-01-02 00:00:00,-1.088784e+08,-1.562452e+03,-2.440547e+07,0.000000e+00,0.000000e+00,0.000000e+00,-2.471904e+08,-6.553620e+05
25%,2025-04-07 00:00:00,1.699758e+07,1.338391e+00,1.697004e+07,0.000000e+00,0.000000e+00,3.500000e+01,-3.694823e-04,9.998257e-01
50%,2025-07-11 00:00:00,6.593944e+07,2.495391e+00,6.605216e+07,0.000000e+00,0.000000e+00,1.250000e+02,5.240472e-04,1.000191e+00
75%,2025-10-02 00:00:00,2.585215e+08,2.151883e+01,2.586682e+08,4.217233e+04,1.329138e+05,7.910000e+02,1.494788e-03,1.001255e+00
max,2025-12-22 00:00:00,2.124699e+11,6.716873e+10,2.124696e+11,1.702337e+10,1.596627e+10,8.992300e+05,inf,inf
std,NaN,5.413460e+09,5.373299e+07,5.412548e+09,8.789664e+07,8.202334e+07,2.982119e+04,NaN,NaN

In [12]:
bad_cnpjs = df.loc[df["num_shareholders"] < 15, "fund_cnpj"].unique()
filtered_df = df[~df["fund_cnpj"].isin(bad_cnpjs)]

In [13]:
filtered_df['fund_cnpj'].unique().shape

(5677,)

In [14]:
df.describe()

c:\Users\ferre\OneDrive\Área de Trabalho\new projects\.venv\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
c:\Users\ferre\OneDrive\Área de Trabalho\new projects\.venv\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,report_date,total_value,quota_value,net_asset_value,daily_inflow,daily_redemptions,num_shareholders,return,total_value_by_net_asset_value
count,1562619,1.562619e+06,1.562619e+06,1.562619e+06,1.562619e+06,1.562619e+06,1.562619e+06,1.552931e+06,1.560311e+06
mean,2025-07-05 04:30:47.989817344,8.403766e+08,4.428128e+04,8.389715e+08,7.400583e+06,7.396376e+06,3.998382e+03,inf,inf
min,2025-01-02 00:00:00,-1.088784e+08,-1.562452e+03,-2.440547e+07,0.000000e+00,0.000000e+00,0.000000e+00,-2.471904e+08,-6.553620e+05
25%,2025-04-07 00:00:00,1.699758e+07,1.338391e+00,1.697004e+07,0.000000e+00,0.000000e+00,3.500000e+01,-3.694823e-04,9.998257e-01
50%,2025-07-11 00:00:00,6.593944e+07,2.495391e+00,6.605216e+07,0.000000e+00,0.000000e+00,1.250000e+02,5.240472e-04,1.000191e+00
75%,2025-10-02 00:00:00,2.585215e+08,2.151883e+01,2.586682e+08,4.217233e+04,1.329138e+05,7.910000e+02,1.494788e-03,1.001255e+00
max,2025-12-22 00:00:00,2.124699e+11,6.716873e+10,2.124696e+11,1.702337e+10,1.596627e+10,8.992300e+05,inf,inf
std,NaN,5.413460e+09,5.373299e+07,5.412548e+09,8.789664e+07,8.202334e+07,2.982119e+04,NaN,NaN